/* index parallax*/
#parallax {
    height: 70vh;
    background-color: var(--cl-neutral);
    background-image: url('../images/index/parallax_stones.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* learning and practicing */

/* intro */
.data-intro {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-intro p {
    width: 60%;
    padding-left: 5em;
}

.data-intro video {
    padding: 2em;
}

video {
    width: 500px;
    height: 315px;
}

/* main */

.main {
    margin: 0 3em 6em 3em;
    display: flex;
    justify-content: space-between;
}

.main section {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.section-title {
    margin-bottom: .5em;
}

.main article h3 {
    margin: 2.3em 0 .5em 0;
}

.main .note {
    color: var(--cl-neutral);
    margin-top: .5em;
    font-weight: bold;
}

/* Main practicing */
.practicing .body{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.practicing audio {
    margin: .8em 0;
}

/* aside */
.main aside {
    width: 40%;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: sticky;
    margin-top: 6em;
    margin-right: 1em;
    top: 30%;
}

.aside li {
    padding: .4em;
}

/* Contact */
form {
    width: 50%;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 5em;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 3px 0px var(--cl-primary);
}

.form-control {
    width: 80%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    border-radius: 2px;
    border: 1px solid var(--cl-primary);
    padding: .5em;
    margin: .3em 0;
}

form button {
    margin-top: 2em;
}

.message {
    padding: 3em;
    font-size: 1.3em;
    font-weight: bold;
}




