@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@300&display=swap');
@import url('./styles-2.css');

:root {
    --ff-primary: 'Dancing Script', cursive, sans-serif;
    --ff-secondary: 'Roboto', sans-serif;

    --cl-primary: rgb(83, 138, 99);
    --cl-secondary: rgb(4,141,165);
    --cl-neutral: rgb(41, 41, 41);
    --cl-gradient-1: rgb(22, 44, 29);
    --cl-gradient-2: rgb(20, 77, 87);
    --cl-gradient-3: rgb(5, 5, 5);
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body {
    font-family: var(--ff-secondary);
    color: var(--cl-neutral);
    font-size: 1.12rem;
    letter-spacing: .1rem;
    background: linear-gradient(180deg, var(--cl-gradient-1) 0%, var(--cl-gradient-2) 48%, var(--cl-gradient-3) 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-primary);
    color: var(--cl-secondary);
}

h2 {
    font-size: 2.3em;
}

h3 {
    font-size: 2em;
}

section {
    padding: 3em;
}

ul {
    list-style: none;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: var(--cl-neutral);
    font-weight: bold;
}

a:hover {
    color: var(--cl-secondary);
}

.active {
    color: var(--cl-secondary);
}

button {
    width: 50%;
    display: block;
    margin: 0 auto;
    padding: .4em;
    border-radius: 3px;
    color: white;
    background-color: var(--cl-neutral);
    cursor: pointer;
    transition: ease-in-out 250ms;
}

button:hover {
    opacity: .6;
    transition: ease-in-out 250ms;
}

.text-center {
    text-align: center;
}

/* Main container */
.main-container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

/* Added this border to avoid space between these containers and the footer, this does not happen in index and contact */
.main-container.learning,
.practicing {
    border: 1px solid white;
}

/* Header */

header.index,
.contact {
    height: 70vh;
    background: url('../images/headers/header_green_1920.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--cl-primary);
}

header.learning {
    height: 70vh;
    background: url('../images/headers/yoga_beach_1920.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--cl-primary);
}

header.practicing {
    height: 70vh;
    background: url('../images/headers/stones_beach_1920.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--cl-primary);
}

/* Navbar */
.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
}

.navbar {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 3;
    justify-content: space-between;
    align-items: center;
    padding: .5em 3em;
    box-shadow: 0 2px 6px 1px var(--cl-primary);
    background: var(--cl-neutral);
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: var(--cl-secondary);
}

.navbar .active {
    border-bottom: 1px solid var(--cl-secondary);
}

#menu {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.intro h1 {
    font-size: 3em;
    margin-bottom: .8em;
}

.intro .sub-title {
    font-size: 1.3em;
}

/* Main home */

#main-home article {
    margin: 3em 0;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2em;
    gap: 3em;
}

.about-container p{
    width: 70%;
    align-self: center;
}

.img-container {
    width: 30%;
    align-self: center;
}

.img-container img {
    width: 100%;
    border-radius: 30px;
}

/* Our courses */

#our-courses {
    background-color: var(--cl-primary);
}

#our-courses-title {
    color: white;
    margin-bottom: 1em;
}

.our-courses-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    height: 500px;
    padding: 0 2em;
    background-color: var(--cl-primary);
}


.course-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-card {
    max-width: 380px;
    height: 300px;
    background: var(--cl-neutral);
    border-radius: 5px;
    padding: 15px 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 2px rgba(0, 0, 0, .5);
    transition: .3s ease-in-out;
}

.course-card:hover {
    height: 420px;
    box-shadow: none;
}

.imgBx {
    position: relative;
    top: -30px;
    border-radius: 5px;
}

.imgBx img {
    width: 100%;
    border-radius: 5px;
    filter: grayscale(1); 
}

.course-card:hover img {
    filter: grayscale(0); 
    box-shadow: 0 5px 2px var(--cl-primary);
}

.content {
    margin-top: -100px;
    padding: 10px 15px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: .3s ease-in-out;
}

.course-card:hover .content {
    opacity: 1;
    margin-top: 10px;
    transition-delay: .3s;
}

/* Footer */

footer {
    height: auto;
    background-color: var(--cl-neutral);
}

footer a {
    color: var(--cl-primary);
}

.footer-links {
    height: 100%;
    display: flex;
    margin-top: 2em;
    justify-content: space-around;
    font-size: 1.2em;
}

.our-links li{
    margin: .3em;
}

.social-networks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    font-size: 1.4em;
}




