@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@300&display=swap');
@import url('./styles-2.css');

:root {
    --ff-primary: 'Dancing Script', cursive, sans-serif;
    --ff-secondary: 'Roboto', sans-serif;

    --cl-primary: rgb(83, 138, 99);
    --cl-secondary: rgb(4,141,165);
    --cl-neutral: rgb(41, 41, 41);
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body {
    font-family: var(--ff-secondary);
    color: var(--cl-neutral);
    letter-spacing: .1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-primary);
    color: var(--cl-secondary);
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.7em;
}

section {
    padding: 3em;
}

ul {
    list-style: none;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: var(--cl-primary);
    font-weight: bold;
}

a:hover {
    color: var(--cl-secondary);
}

.active {
    color: var(--cl-secondary);
}

.text-center {
    text-align: center;
}

/* Header */

header {
    height: 70vh;
    background: url('../images/header_green_1920.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--cl-primary);
}

/* Navbar */

.navbar {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: .5em 3em;
    box-shadow: 0 2px 6px 1px var(--cl-primary);
    background: var(--cl-neutral);
}

#menu {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.intro .title {
    font-size: 3em;
    margin-bottom: .8em;
}

#intro p {
    font-size: 1.3em;
}

/* Main home */

#main-home article {
    margin: 3em 0;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2em;
    gap: 3em;
}

.about-container p{
    width: 70%;
    align-self: center;
}

.img-container {
    width: 30%;
}

.img-container img {
    width: 100%;
    border-radius: 30px;
}

/* Our courses */

#our-courses {
    background-color: var(--cl-primary);
}

#our-courses-title {
    color: white;
    margin-bottom: 1em;
}

.our-courses-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    height: 500px;
    padding: 0 2em;
    background-color: var(--cl-primary);
}


.course-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-card {
    max-width: 380px;
    height: 300px;
    background: var(--cl-neutral);
    border-radius: 5px;
    padding: 15px 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 2px rgba(0, 0, 0, .5);
    transition: .3s ease-in-out;
}

.course-card:hover {
    height: 420px;
    box-shadow: none;
}

.imgBx {
    position: relative;
    top: -30px;
    border-radius: 5px;
    /* box-shadow: 0 5px 20px rgba(0, 0, 0, .2); */
}

.imgBx img {
    width: 100%;
    border-radius: 5px;
    -webkit-filter: grayscale(1); /* Webkit */
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* W3C */
}

.course-card:hover img {
    -webkit-filter: grayscale(0); /* Webkit */
    filter: none; /* IE6-9 */
    filter: grayscale(0); /* W3C */
    box-shadow: 0 5px 2px var(--cl-primary);
}

.content {
    margin-top: -100px;
    padding: 10px 15px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: .3s ease-in-out;
}

.course-card:hover .content {
    opacity: 1;
    margin-top: 10px;
    transition-delay: .3s;
}

/* Footer */

footer {
    height: 10vh;
    background-color: var(--cl-neutral);
}

.social-networks {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.4em;
}

@media screen and (max-width: 900px) {
    header {
        height: 55vh;
        background-image: url('../images/header_green_900.jpg');
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 35vh;
        background: url('../images/header_green_600.jpg');
        background-position: center;
    }
}


